body {
  font-size: 67.5%;
  font-family: Tahoma, Geneva, sans-serif;
  background: #39150c url(./assets/shooty.jpg) no-repeat fixed top center;
  padding: 0;
  margin: 0;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
}
h1 {
  color: #2ba967;
  font-size: 2em;
  margin: 0.5em 0 0.5em 0;
  padding: 0;
}
h2 {
  color: #745b2f;
  font-size: 1.7em;
  padding: 0px;
  margin: 0.5em 0 0.35em 0;
}
p {
  font-size: 1.2em;
  line-height: 1.4em;
  color: #555;
  padding: 0px;
  margin: 0px 0.5em 0.75em 0px;
}
ol {
  font-size: 1.2em;
  margin: 0 0 0 1em;
  padding: 0 0 0 1em;
}
ol li {
  margin: 0;
  padding: 0 0 0.2em;
}
hr {
  padding: 0;
  margin: 1.5em 1.5em 0.75em 0.5em;
}
.contentWrapper {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 3em;
}
.left {
  float: left;
}
.right {
  float: right;
}
div.clear {
  clear: both;
  font-size: 1%;
}
header {
  padding: 2.5em 0 0.5em;
  margin: 0 0 2em;
  background: #39150c url(./assets/card\ -\ Copy.jpg) center 0px;
}
header h1 {
  font-family: "Times New Roman", Times, serif;
  color: #745b2f;
  font-size: 7.5em;
  letter-spacing: -0.025em;
  margin: 0;
}
header h2 {
  font-weight: 300;
  font-size: 3.8em;
  color: #2ba967;
  margin: -0.4em 0 0 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
nav {
  color: #000;
  font-size: 1.7em;
  letter-spacing: 0.04em;
  padding: 1em 1em 0.5em;
  margin: 1em 0;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin: 0;
}

footer {
  background-color: #40362f;
  height: 25px;
  font-size: 1.2em;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 1.5em 2em;
  /*position: absolute;
	bottom: -25px;
	left: 0;*/
}
button {
  color: #c64322;
  background-color: #fff;
  display: inline-block;
  margin: 0 0.75em 0 0;
  padding: 0.2em 0.5em;
  border: 1px solid #c64322;
  text-transform: uppercase;
}